@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  background-color: white;
  text-align: center;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

header {
  height: 80vh;
  background-image: url(../img/office.jpeg);
  background-size: cover;
  color: white;
}

h1.headline {
  margin: 0 auto;
  margin-top: 5%;
}

.subheadline {
  width: 50%;
  margin: 20px auto;
  display: block;
}

.purple-overlay {
  z-index: 1;
  height: 80vh;
  width: 100%;
  top: 0px;
  left: 0px;
  background: rgba(102, 51, 153, 0.5);
}

i.material-icons {
  line-height: 1em;
  display: inline;
  vertical-align: middle;
}

button.learn-more {
  background-color: #663399;
  line-height: 1em;
  border: 0;
  color: white;
  width: auto;
  padding: 10px 15px;
  box-shadow:  0 0 1em #343434;
}

button.learn-more.transparent {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: none;
  margin-top: 20px;
}

button.learn-more.transparent:hover {
  background-color: white;
  color: #663399;
  font-weight: 400;
}

p.logo {
  float: left;
  padding: 20px;
}

ul.navbar {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

ul.navbar li {
  display: inline-flex;
  padding: 20px;
}

ul.navbar li a {
  text-decoration: none;
  color: white;
}

#about {
  min-height: 60vh;
  height: auto;
  background-color: #663399;
  color: white;
}

#about h2 {
  margin-top: 10%;
}

#about p {
  width: 65%;
}

img.brochure {
  height: 50vh;
  max-height: 50vh;
  margin-top: 10%;
}

.layers {
  text-align: right;
}

.content {
  text-align: left;
}

#services, #contact {
  background-color: #222222;
  color: #C2C2C2;
  height: auto;
  padding: 60px 0;
}

#services h2, h4 {
  color: white;
}

h4 {
  font-size: 14px;
}

#services p, #team p, #contact p {
  width: 40%;
  margin: 0 auto;
  display: block;
}

.service-list {
   margin: 50px;
}


#services .service-list p {
  width: 60%;
}

.intro {
  margin: 20px 0 40px;
}

.material-icons {
  color: #663399;
}

.white {
  color: white;
}

#team {
  background-color: white;
  padding: 60px 0;
}

#team p.bio-text {
  width: 90%;
}

#team img.headshot {
  width: 90%;
  border-radius: 50%;
}

h4.name {
  color: #663399;
  font-size: 18px;
  font-weight: 700;
}

#team p.job {
  text-transform: uppercase;
  padding-bottom: 10px;
  width: 100%;
  color: #663399;
  font-weight: 400;
  padding: 5px;
}

.social {
  margin: 10px;
  cursor: pointer;
}

div.bios {
  margin: 0 10%;
}

#sponsors {
  height: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background-color: #663399;
}

#sponsors img.sponsor {
  width: 12%;
  height: auto;
  margin: 0 20px;
}

#contact {
  padding: 80px;
}

.address-container-left h4, .address-container-right h4 {
  text-align: left;
}

#contact p.address {
  text-align: left;
  margin: 0 0 20px 0;
  width: 100%;

}

#contact input, #contact textarea {
  background-color: #333333;
  color: #C2C2C2;
  border: none;
}

#contact button {
  width: auto;
  float: left;
  background-color: #222222;
  border: 1px solid #C2C2C2;
  color: #C2C2C2;
}

#contact button:hover {
  color: #222222;
  background-color: #C2C2C2;
}

#footer {
  background-color: #1A1A1A;
  text-align: left;
  color: #C2C2C2;
  padding: 60px;
}

#footer h4 {
  color: white;
}

.links {
    padding-bottom: 40px;
    border-bottom: 0.3px solid #3B3B3B;
}

.col-md-12.copy {
  padding: 0;
}

.copyright {
  font-size: 11px;
  color: #5E5E5E;
  padding: 10px 0;
}



